logs
target
/.bsp
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.metals/*
.bloop/*
docker/mysql/*
docker/phpmyadmin/sessions/*
!docker/mysql/.keep
!/docker/phpmyadmin/sessions/.keep